# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [4]:
df["stars_squared"] = df["stars"]**2

## Dates
Select the month from the date string using a lambda function.

In [12]:
# Your code here
ex = df["date"][0]
ex[5:7]
df["date"].map(lambda x: x[5:7])

1       11
2       10
4       09
5       02
10      06
        ..
689     06
4874    08
564     06
3458    10
4206    08
Name: date, Length: 2610, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [18]:
# Your code here
df["text"].map(lambda x: len(x.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review

In [21]:
# Your code here
df["text_len"] = df["text"].map(lambda x: len(x.split()))

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [23]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df["text_len"].map(lambda x: "Short" if x < 50 else "Medium" if x < 80 else "Long")
df["Review_length"]

1       Medium
2        Short
4        Short
5         Long
10       Short
         ...
689     Medium
4874     Short
564     Medium
3458      Long
4206     Short
Name: Review_length, Length: 2610, dtype: object

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [25]:
# Your code here
df["date"].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [30]:
ex = df["date"][0]
print(f"{ex[8:10]}-{ex[5:7]}-{ex[0:4]}")

25-02-2011

In [34]:
df["date"]

1       2012-11-13
2       2014-10-23
4       2014-09-05
5       2011-02-25
10      2016-06-15
           ...
689     2013-06-02
4874    2016-08-14
564     2016-06-14
3458    2013-10-02
4206    2016-08-15
Name: date, Length: 2610, dtype: object

In [45]:
from datetime import datetime

x="2013-06-23"
df["date_mod"] = df["date"].map(lambda x: datetime(int(x[0:4]),int(x[5:7]),int(x[8:])))
df["date_mod"].dt.strftime()

TypeError: strftime() missing 1 required positional argument: 'date_format'

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.